<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Welcome to Django App</h1>
    <h3>{{titulo}}</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo amet aut, autem animi eligendi cupiditate iste, accusantium totam similique nisi enim fuga illum natus velit ipsam nihil sint, excepturi unde!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ullam!
    </p>
    
</body>
</html>